<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://192.168.0.21:3306/app_user6"></property>
		<property name="user" value="user6" />
		<property name="password" value="oracle" />
	</bean>
	<bean id="memberDao" class="dao.MemberDao">
		<constructor-arg ref="dataSource" />
	</bean>

	<bean id="memberRegSvc" class="service.MemberRegisterService">
		<constructor-arg ref="memberDao" />
	</bean>

	<bean id="changePwdSvc" class="service.ChangePasswordService">
		<constructor-arg ref="memberDao" />
	</bean>

	<!-- 로그인 서비스 -->
	<bean id="loginSvc" class="service.MemberLoginService">
		<constructor-arg ref="memberDao" />
	</bean>

</beans>